# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code editor settings
.vscode/

# Build artifacts
build/
dist/
*.egg-info/